<div class="container">
  <div class="d-flex mt-3 mb-5 align-items-center">
    <label class="form-label mb-0 me-2">Manager:</label>
    <select class="form-select w-auto" [(ngModel)]="managerId" (ngModelChange)="fetchConsultantsWithReviewer()">
      <option value="" selected>All</option>
      <option [value]="manager.managerId" *ngFor="let manager of managerList">
        {{ manager.firstName }} {{ manager.lastName }}
      </option>
    </select>
  </div>
  <table class="table table-hover">
    <thead *ngIf="!isLoading && table_data.length">
      <tr class="table-dark" style="vertical-align: middle">
        <th scope="col">Consultants</th>
        <th *ngFor="let consultant of table_data">{{ consultant.firstName }} {{ consultant.lastName }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="!isLoading && table_data.length">
        <tr *ngFor="let i of rowArr">
          <th scope="row">Peer Feedback {{ i }}</th>
          <td *ngFor="let consultant of table_data">
            <ng-container *ngIf="consultant.consultantReviewers[i - 1]">
              <i
                *ngIf="consultant.consultantReviewers[i - 1].emailReminderSent"
                class="bi bi-check-circle-fill text-success me-2"
              ></i>
              <span
                *ngIf="isSending && !consultant.consultantReviewers[i - 1].emailReminderSent"
                class="spinner-border spinner-border-sm text-primary me-2"
                role="status"
              ></span>
              <span>{{ consultant.consultantReviewers[i - 1].reviewerName }}</span>
            </ng-container>
          </td>
        </tr>
        <tr>
          <th scope="row">Meeting Booked</th>
          <td *ngFor="let consultant of table_data"></td>
        </tr>
      </ng-container>
      <tr *ngIf="!isLoading && !table_data.length" class="empty-row">
        <td colspan="100">No data found</td>
      </tr>
      <tr *ngIf="isLoading" class="loading">
        <td colspan="100">
          <div class="d-flex justify-content-center align-items-center">
            <div class="spinner-border me-2" role="status"></div>
            Loading...
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="onSendEmail()" [disabled]="!table_data.length || isSending">
    <i *ngIf="!isSending" class="bi bi-send-fill"></i>
    <span *ngIf="isSending" class="spinner-border spinner-border-sm" role="status"></span>
    <span class="ms-2">{{ isSending ? "Sending..." : "Send E-mail" }}</span>
  </button>
</div>
