<app-article-template [article]="article" [currentUser]="currentUser" [canModify]="canModify" [comments]="comments"
    [commentControl]="commentControl" [commentFormErrors]="commentFormErrors" [isSubmitting]="isSubmitting"
    [isDeleting]="isDeleting" (handleDeleteArticle)="deleteArticle()" (handleAddComment)="addComment()"
    (handleDeleteComment)="onDeleteComment($event)" (handleToggleFavorite)="onToggleFavorite($event)"
    (handleToggleFollowing)="onToggleFollowing($event)"></app-article-template>